---
import Layout from '../layouts/Layout.astro';
import NavMobile from '../components/NavMobile.astro';
---

<Layout title="Welcome to Astro.">
	<main class="bg-white h-[calc(100dvh-4rem)] bg-hero bg-no-repeat bg-cover bg-center">
		<NavMobile />
	</main>
</Layout>
