---
import { Icon } from 'astro-icon'
---

<nav class="bg-black h-10">
  <ul class="grid grid-cols-3 text-white place-content-center h-full text-center">
    <li>
      <button 
        class="w-8 text-slate-300" 
        type="button" 
        aria-label="regresar a la sección anterior"
      >
        <Icon name="ph:arrow-left-thin" />
      </button>
    </li>
    <li>
      <button 
        class="w-8 text-slate-300" 
        type="button" 
        aria-label="regresar a home"
      >
        <Icon name="ri:windows-fill" />
      </button>
    </li>
    <li>
      <button 
        class="w-8 text-slate-300" 
        type="button" 
        aria-label="buscar archivo"
      >
        <Icon name="la:search" />
      </button>
    </li>
  </ul>
</nav>
