---
import { Icon } from 'astro-icon'
---

<div class="text-white bg-black flex justify-between items-center h-6">
  <div class="flex gap-2 items-center">
    <span class="w-8 block">
      <Icon name="healthicons:low-bars" />
    </span>
    <span class="w-8 block">
      <Icon name="system-uicons:wifi" />
    </span>
  </div>

  <div class="flex gap-2 items-center">
    <span class="block">
      10:10
      <span>PM</span>
    </span>
    <span class="w-8 block">
      <Icon name="fluent:battery-saver-24-filled" />
    </span>
    <span class="w-6 block">
      <Icon name="openmoji:high-voltage" />
    </span>
  </div>
</div>