---
---

<article>
  <h2>
    
  </h2>
  <div>
    
  </div>
</article>

<script>
  import { getGeolocation } from "src/helpers/getGeolocation";
  const data = await getGeolocation()
  console.log(data)

</script>